html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --main-color: rgb(243, 240, 240);
    --dark-main-color: rgb(51, 56, 61);
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

p {
    margin: 0;
}

header {
    display: flex;
    background-color: var(--dark-main-color);
    margin-bottom: 20px;
    padding: 10px 40px;
    gap: 20px;
}

.logo-container {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.logo-name {
    color: var(--main-color);
    font-size: 30px;
    font-weight: 700;
}

.svg-icon-container {
    width: 40px;
    margin-left: 5px;
    fill: var(--main-color);
}

label {
    font-weight: 500;
    font-size: 18px;
}

form div {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    color: var(--main-color);
}

input {
    height: 35px;
    border: none;
    border-bottom: 2px solid var(--main-color);
    width: 100%;
    min-width: 200px;
    background-color: var(--dark-main-color);
    color: var(--main-color);
    font-size: 14px;
}

input::placeholder {
    text-align: center;
    font-weight: bold;
}

input:focus {
    outline: none;
}

.unit-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
}

.unit-btn {
    background-color: var(--dark-main-color);
    border: 2px solid var(--main-color);
    border-radius: 10px;
    cursor: pointer;
    color: var(--main-color);
    font-size: 16px;
    padding: 5px 10px;
    max-height: 35px;
}

.unit-btn:hover {
    font-weight: bold;
    border: 3px solid var(--main-color);
}

.curr-weather {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
    min-width: fit-content;
    max-width: 45%;
    width: 100%;
    padding: 40px 20px;
    border-radius: 10px;
}

.curr-weather > div:first-child {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.curr-weather > div:last-child {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: end;
    font-weight: 500;
    font-size: 18px;
}

.curr-condition-text {
    font-size: 45px;
    font-weight: 600;
    text-transform: capitalize;
}

.curr-location {
    font-size: 25px;
    font-weight: 400;
}

.temp-icon-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.temp-container {
    font-size: 60px;
}

.daily-group {
    display: grid;
    grid-template: 50px / repeat(3, 1fr);
    justify-items: center;
}

.daily-name-container {
    grid-column: 1 / 4;
}

.daily-weather {
    height: 200px;
    justify-content: space-evenly;
}

.daily-temp-container {
    display: flex;
}

.daily-temp-container > div:first-child {
    background-color: var(--dark-main-color);
    color: var(--main-color);
    border-radius: 10px 0 0 10px;
}

.daily-temp-container > div:last-child {
    background-color: var(--main-color);
    border-radius: 0 10px 10px 0;
}

.daily-group {
    max-width: 60%;
}

.daily-weather > p,
.hourly-weather > p {
    font-size: 20px;
    font-weight: bold;
}

.hourly-group-container,
.daily-group {
    width: 100%;
}

.hourly-weather,
.daily-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.daily-name-container, 
.hourly-name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-main-color);
    color: var(--main-color);
    font-size: 20px;
    border-radius: 20px 20px 0 0;
    width: 100%;
}

.daily-temp-container > div,
.hourly-temp-container {
    width: 70px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hourly-group-container {
    max-width: 70%;
}

.hourly-weather {
    height: 150px;
    justify-content: space-around;
}

.hourly-name-container {
    height: 50px;
}

.hour-btns-container {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 40px;
}

.hour-btn {
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid var(--dark-main-color);
    background-color: var(--main-color);
}

.selected-btn {
    background-color: var(--dark-main-color);
}

.hour-btns-container > .hour-direction-btn:first-child {
    background: no-repeat url('./assets/chevron-left.svg');
}

.hour-btns-container > .hour-direction-btn:last-child {
    background: no-repeat url('./assets/chevron-right.svg');
}

.hour-direction-btn {
    border: none;
    height: 25px;
    width: 25px;
}

.hour-direction-btn,
.hour-btn {
    cursor: pointer;
}

.hour-group {
    display: flex;
    justify-content: space-between;
}

.hourly-temp-container {
    background-color: var(--main-color);
    color: var(--dark-main-color);
    border-radius: 10px;
}

.curr-weather,
.daily-group,
.hourly-group-container {
    align-self: center;
    margin-bottom: 20px;
}

.error {
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    height: 80px;
    top: 63px;
}
.error-bkgd {
    position: absolute;
    padding: 5px;
    width: 400px;
    height: fit-content;
    top: -0;
    right: -100%;
    text-align: center;
    background-color: rgb(185, 83, 83);
    border-radius: 0 0 0 10px;
    color: var(--main-color);
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: 1.7s;
}

.error-show {
    right: 0;
}

.loader {
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    border: 16px solid var(--main-color);
    border-top: 16px solid var(--dark-main-color);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hide {
    display: none;
}

@media screen and (max-width: 800px) {
    header {
        padding: 10px;
    }

    label {
        display: none;
    }

    .unit-btn {
        font-size: 10px;
        font-weight: bold;
    }

    .error-bkgd {
        width: 70%;
    }

    .curr-weather {
        margin-left: 8px;
        margin-right: 8px;
    }

    .curr-condition-text {
        font-size: 40px;
    }

    .curr-weather > div:last-child {
        font-size: 16px;
    }

    .daily-group {
        grid-template: 50px repeat(3, 1fr) / 1fr;
        min-width: fit-content;
    }

    .daily-name-container {
        grid-column: 1 / 2;
    }

    .daily-weather {
        width: 100%;
        padding: 5px;
        gap: 10px;
    }

    .daily-weather > p {
        width: 100px;
    }

    .daily-group > .daily-weather:last-child {
        grid-row: 4/5;
    }

    .daily-temp-container > div {
        width: 55px;
        font-size: 14px;
    }

    .daily-group > .daily-weather:nth-child(even) .min-temp-container {
        background-color: white;
    }

    .hour-group {
        flex-direction: column;
    }

    .hour-group > div:nth-child(odd),
    .daily-group > .daily-weather:nth-child(even) {
        background-color: var(--main-color);
        border-radius: 5px;
    }

    .hour-group > div:nth-child(odd) > div {
        background-color: white;
    }

    .hourly-weather,
    .daily-weather {
        flex-direction: row;
        max-height: 50px;
    }

    .hourly-weather > p {
        width: 56px;
    }

    .hourly-weather > img,
    .daily-weather > img {
        width: 45px;
    }
}

@media screen and (max-width: 750px) {
    .logo-name {
        display: none;
    }
}

@media screen and (max-width: 280px) {
    header {
        gap: 10px;
    }

    .error {
        top: 55px;
    }

    input {
        min-width: 150px;
        font-size: 12px;
    }

    .svg-icon-container {
        display: none;
    }

    .unit-btn-container {
        justify-content: end;
    }

    .curr-weather {
        flex-direction: column;
        gap: 20px;
    }

    .curr-weather > div {
        text-align: center;
    }

    .curr-weather > div:last-child {
        text-align: center;
    }

    .temp-icon-container {
        justify-content: center;
    }

    .daily-weather > p {
        font-size: 16px;
        width: 80px;
    }
}
